<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TodoMapper">
    <select id="findAll" resultType="Todo">
        select * from todo
        order by id DESC;
    </select>

    <select id="findTodo" resultType="Todo">
        SELECT * from todo where todo_set = 1
    </select>

    <insert id="inserTodo" parameterType="Todo">
        Insert into todo(todo,todo_set)
        values(#{todo},#{todo_set})
    </insert>

    <delete id="deleteItem" parameterType="Todo">
    delete from todo where id = #{id}
    </delete>

    <select id="getDetailTodo" resultType="Todo">
        select * from todo where id = #{id}
    </select>

    <update id="updateTodoSet" parameterType="Todo">
        UPDATE todo  set todo_set = false  where id = #{id};
    </update>
</mapper>
